---
layout: cathedral
permalink: /missionaries
title: Missionaries
description: Learn more about the missionaries we support both financially and through prayer
image: img/missions/heart-to-serve.jpg
---

{% include subpage-hero.html %}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <p class="text-serif text-primary mb-0">
                    Fort Spring Missionary Baptist Church
                </p>
                <h2>
                    Missionaries
                </h2>
                <p>
                    Learn more about the missionaries we support both financially and through prayer.
                </p>
            </div>
        </div>
        {% include missionaries/directline-ministry.html %}
        <hr>
        {% include missionaries/gideons-international.html %}
        <hr>
        {% include missionaries/gleaning-for-christ.html %}
        <hr>
        {% include missionaries/heart-to-serve-missions.html %}
        <hr>
        {% include missionaries/outreach-christian-fellowship.html %}
</section>
