---
layout: cathedral
permalink: /youth-outreach
title: Youth Outreach
description: Investing in the next generation of Christians
image: img/people/youth.jpg
---

{% include subpage-hero.html %}

<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <p class="text-serif text-primary mb-0">
                    Fort Spring Missionary Baptist Church
                </p>
                <h2>
                    Youth Outreach
                </h2>
                <p>
                    Fort Spring Missionary Baptist Church youth outreach activities help kids know Jesus, grow in their faith, and serve Him.
                </p>
            </div>
        </div>

        {% include youth-outreach/sunday-services.html %}
        {% include youth-outreach/awana.html %}
        {% include youth-outreach/vbs.html %}
    </div>
</section>
