<div class="row">
  <div class="col-lg-12 mb-4">
    <h3>
      Gideon's International
    </h3>
    <p>
      The Gideons International is an Association of Christian business and professional men and their wives dedicated to telling people about Jesus through associating together for service, sharing personal testimony, and by providing Bibles and New Testaments. While we are often recognized for our work with hotels, we also place and distribute Scriptures in strategic locations so they are available to those who want them, as well as to those who may not know they need them.
    </p>
    <a class="btn btn-primary px-4" href="https://www.gideons.org/" rel="nofollow" target="_blank">
      Learn More</a>
  </div>
</div>
