<div class="row">
  <div class="col-lg-9 mb-4">
    <h3>
      Gleaning for Christ
    </h3>
    <p>
      Gleaning for Christ is located in Looneyville, West Virginia and prints gospel tracts and scripture portions for distribution to aid in evangelism and provides churches with Bibles that they can distribute to new believers to aid with discipleship. 
    </p>
    <p>
      They make their properties in Looneyville, at Rock Altar Camp available to pastors, missionaries, and evangelists, etc. to have a place to get away. They also use Rock Altar Camp as a meeting place to hold tent meetings, summer camps, and retreats to help strengthen the brethren.
    </p>
    <a class="btn btn-primary px-4" href="http://gfcmissions.org" rel="nofollow" target="_blank">
      Learn More</a>
  </div>
  <div class="col-lg-3 mb-4">
    <img class="img-fluid" src="img/missions/gleaning-for-christ.jpg" alt="The Romans Road: Plan of Salvation" />
  </div>
</div>
