<div class="row">
  <div class="col-lg-12 mb-4">
    <h3>
      Outreach Christian Fellowship<br>
      Alvin &amp; Nelly Anderson
    </h3>
    <p>
      OCF was started by missionaries and people with a passion for missions. Their goal is to help do the things missionaries and missions ministries shouldn't have to focus on.
    </p>
    <p>
      Alvin &amp; Nelly Anderson are Christian missionaries working through Outreach Christian Fellowship with their Manos Extendidas ministry. Manos Extendidas (Extended Hands) is a registered Christian ministry in Tegucigalpa, Honduras that demonstrates Jesus' love by meeting the physical and educational needs of families, teens, and children. These practical acts of love build strong relationships that enable us to share the good news of Gospel so we can introduce them to Jesus Christ.
    </p>
    <a class="btn btn-primary px-4" href="https://outreachcf.org/anderson/" rel="nofollow" target="_blank">
      Learn More</a>
  </div>
</div>
