<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Chidrens' Christmas Program - December 15, 2024</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic10.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic10.jpg" alt="moses"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic18.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic18.jpg" alt="isaiah"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic6.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic6.jpg" alt="daniel"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic9.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic9.jpg" alt="zechariah"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic17.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic17.jpg" alt="angel and zechariah"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic7.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic7.jpg" alt="elizabeth"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic16.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic16.jpg" alt="zechariah, elizabeth and john"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic21.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic21.jpg" alt="his name is john"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic20.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic20.jpg" alt="mary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic13.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic13.jpg" alt="mary and the angel"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic15.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic15.jpg" alt="elizabeth and mary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic12.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic12.jpg" alt="no room at the inn"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic11.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic11.jpg" alt="angel with mary and joseph"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic22.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic22.jpg" alt="mary, joseph, and manger"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic2.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic2.jpg" alt="shepherds"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic1.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic1.jpg" alt="mary, joseph, and the shepherds"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic5.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic5.jpg" alt="mary, joseph, shepherds and angels"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic14.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic14.jpg" alt="mary, joseph, and jesus"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic23.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic23.jpg" alt="simeon, mary, joseph, and jesus"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic19.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic19.jpg" alt="cross"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic8.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic8.jpg" alt="everyone"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic24.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic24.jpg" alt="pastor"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic3.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic3.jpg" alt="narrators"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/christmas/pic4.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/christmas/pic4.jpg" alt="pianist"></a>
    </div>
  </div>
</div>
