<div class="container">
    <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Easter 2024</h4>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="img/events/2024/easter/easter-1.jpg" class="d-block mb-4 h-100" target="_blank">
            <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-1.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="img/events/2024/easter/easter-2.jpg" class="d-block mb-4 h-100" target="_blank">
            <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-2.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="img/events/2024/easter/easter-3.jpg" class="d-block mb-4 h-100" target="_blank">
            <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-3.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="img/events/2024/easter/easter-4.jpg" class="d-block mb-4 h-100" target="_blank">
            <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-4.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-5.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-5.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-6.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-6.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-7.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-7.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-8.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-8.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-9.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-9.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-10.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-10.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-11.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-11.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-12.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-12.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-13.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-13.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-14.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-14.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-15.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-15.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-16.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-16.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-17.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-17.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-18.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-18.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-19.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-19.jpg"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2024/easter/easter-20.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2024/easter/easter-20.jpg"></a>
        </div>
    </div>
</div>
