<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Alderson 4th of July Parade</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/everyone.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/everyone.png" alt="everyone"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/truck-bed-1.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/truck-bed-1.png" alt="Truck bed"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/abby-ayden.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/abby-ayden.png" alt="Abby and Ayden"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/grace-addy.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/grace-addy.png" alt="Grace and Addy"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/addy-walker.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/addy-walker.png" alt="Addy and Walker"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/lafons.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/lafons.png" alt="LaFon children"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/amy-shelton.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/amy-shelton.png" alt="Amy Shelton"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/peggy-patterson.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/peggy-patterson.png" alt="Peggy Patterson"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/truck-1.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/truck-1.png" alt="Truck in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-1.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-1.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/truck-2.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/truck-2.png" alt="Truck in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/truck-bed-3.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/truck-bed-3.png" alt="Truck bed"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/truck-bed-2.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/truck-bed-2.png" alt="Truck bed"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-6.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-6.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-7.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-7.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-2.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-2.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-3.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-3.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-4.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-4.png" alt="Float in parade"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/fourth-of-july/parade-5.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/fourth-of-july/parade-5.png" alt="Float in parade"></a>
    </div>
  </div>
</div>
