<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Live Nativity - December 2024</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic1.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic1.jpg" alt="mary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic2.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic2.jpg" alt="partial group photo"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic4.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic4.jpg" alt="full group photo"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic3.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic3.jpg" alt="mary and joseph"></a>
    </div>
  </div>
</div>
