<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Live Nativity, WV State Fair Grounds - December 7, 2024</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic4.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic4.jpg" alt="full group photo"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic2.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic2.jpg" alt="partial group photo"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic7.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic7.jpg" alt="show times"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic6.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic6.jpg" alt="waiting area"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic21.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic21.jpg" alt="entrance"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic15.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic15.jpg" alt="entrance"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic1.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic1.jpg" alt="mary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic3.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic3.jpg" alt="mary and joseph"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic18.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic18.jpg" alt="manger"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic12.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic12.jpg" alt="manger, farther away"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic5.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic5.jpg" alt="living room"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic8.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic8.jpg" alt="bed"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic9.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic9.jpg" alt="room"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic10.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic10.jpg" alt="animals"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic11.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic11.jpg" alt="sheep"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic13.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic13.jpg" alt="goats"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic14.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic14.jpg" alt="fisherman booth"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic16.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic16.jpg" alt="blacksmith"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic17.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic17.jpg" alt="pottery"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic19.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic19.jpg" alt="bread booth"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic20.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic20.jpg" alt="money changer"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic22.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic22.jpg" alt="backets"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/live-nativity/pic23.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/live-nativity/pic23.jpg" alt="eggs"></a>
    </div>
  </div>
</div>
