<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Vacation Bible School - July 2024</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/scuba-theme.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/scuba-theme.jpg" alt="scuba theme"></a>
    </div>
    <div class="col-lg-3" style="align-content: center">
      <a class="btn btn-outline-primary px-4" href="vbs">Find out more</a>
    </div>
  </div>
</div>
