<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Vacation Bible School - July 2024</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/scuba-theme.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/scuba-theme.jpg" alt="scuba theme"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/sanctuary-1.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/sanctuary-1.jpg" alt="sanctuary view from right"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/sanctuary-2.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/sanctuary-2.jpg" alt="sanctuary view from left"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/church-back.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/church-back.jpg" alt="rear of church"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/stairwell.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/stairwell.jpg" alt="stairs to basement"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/downstairs.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/downstairs.jpg" alt="dining area"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/downstairs-hallway.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/downstairs-hallway.jpg" alt="downstairs hallway"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/downstairs-exit.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/downstairs-exit.jpg" alt="downstairs exit"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/preschool-door.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/preschool-door.jpg" alt="door to preschool classroom"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/preschool-classroom.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/preschool-classroom.jpg" alt="preschool classroom"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/bible-adventures-elijah.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/bible-adventures-elijah.jpg" alt="Bible adventures, Day 1, Elijah"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/fish.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/fish.jpg" alt="Bible adventures, Day 2, Jonah and the big fish"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/fish-inside.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/fish-inside.png" alt="Bible adventures, Day 2, Jonah and the big fish, inside the fish"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2024/vbs/bible-adventures-boat.png" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2024/vbs/bible-adventures-boat.png" alt="Bible adventures, Day 3, Jesus Calms the Storm, john boat"></a>
    </div>
  </div>
</div>
