<footer class="pt-5 text-white" style="background: #111">
    <div class="container pt-5">
        <div class="row mb-5 pb-5">
            <div class="col-md-1 d-none d-md-block px-1">
                <div class="h-100 d-flex align-items-center">
                    <img class="img-fluid" src="img/logo-medium.svg" alt="small Fort Spring Missionary Baptist Church logo"/>
                </div>
            </div>
            <div class="col-md-11 col-sm-12">
                <h3 class="h5 mt-4 mb-0">
                    Fort Spring Missionary Baptist Church
                </h3>
                <p class="mb-4 text-serif">
                  where the word of God is preached and the love of Christ is practiced
                </p>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="reset-anchor" href="tel:+13046475500">
                            <i class="text-primary me-3 fas fa-phone" aria-hidden="true"></i>
                            <span>(304) 647-5500</span></a></li>
                    <li class="mb-2">
                        <a class="reset-anchor" href="https://www.google.com/maps/place/Fort+Spring+Missionary+Baptist+Church/@37.7445658,-80.5423268,1092m/data=!3m1!1e3!4m6!3m5!1s0x884c370017426c11:0xcb62258d702cf516!8m2!3d37.7425965!4d-80.5412431!16s%2Fg%2F11vpc_0xs_?entry=ttu" target="_blank" rel="nofollow">
                            <i class="text-primary me-3 fas fa-map" aria-hidden="true"></i>
                            <span>1336 Fort Spring Pike, Ronceverte, WV 24970</span>
                            <i class="me-3 fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </li>
                    <li class="mb-2">
                        <i class="text-primary me-3 fas fa-envelope-open-text" aria-hidden="true"></i>
                        <span>P. O. Box 112, Ronceverte, WV 24970</span></li>
                    <li class="mb-2">
                        <a class="reset-anchor" href="#" data-bs-toggle="modal" data-bs-target="#contactUs">
                            <i class="text-primary me-3 far fa-envelope" aria-hidden="true"></i>
                            <span>Contact us</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% include contact-dialog.html %}
