<section id="pastor">
    <div class="container-fluid px-0">
        <div class="row align-items-stretch">
            <div class="col-lg-6 half-page-banner bg-cover" style="background: url(img/people/pastor-joey.png)"></div>
            <div class="col-lg-6 bg-light py-lg-5">
                <div class="h-100 d-flex flex-column p-5 justify-content-center">
                    <p class="text-serif text-primary mb-0">Preaching God's Word</p>
                    <h2 class="text-uppercase">Our Pastor</h2>
                    <p>
                        As I grew up attending Fort Spring Missionary Baptist Church, I never dreamed God would call me to be a pastor, especially at my home church. I praise God that he has! He has blessed my family and I tremendously here. I have been so blessed to have had many Godly influences in my life. Pastors, teachers and many dear saints have impacted my life and still are. I invite you to come join us and see what God has to speak to you through music, His word and fellowship. You may just find the calling God has for your life here with us.

                    </p>
                    <p class="text-serif text-primary text-small mb-0">
                        Love in Christ,
                    </p>
                    <span class="h6 text-uppercase mb-0">Pastor Joey</span>
                </div>
            </div>
        </div>
    </div>
</section>
