<div class="container py-5">
    <header class="mb-4 text-center mb-5">
        <p class="text-serif mb-0 text-primary">
            Picture Gallery</p>
        <h2 class="text-uppercase">
            Past Events</h2>
    </header>
    <div class="row">
        {% include past-events/2024/vbs.html %}
    </div>
    <div class="row">
        {% include past-events/2024/easter.html %}
    </div>
    <div class="row">
        {% include past-events/2023/christmas-play.html %}
    </div>
    <div class="row">
        {% include past-events/2023/pastor-appreciation-day.html %}
    </div>
    <div class="row">
        {% include past-events/2023/vbs.html %}
    </div>
</div>
