<section class="py-5">
  <div class="container py-5">
    <header class="mb-4 text-center mb-5">
      <p class="text-serif mb-0 text-primary">
        Christian Fellowship &amp; Ministries
      </p>
      <h2 class="text-uppercase">
        Upcoming Events
      </h2>
    </header>
    <div class="p-4 p-lg-5 bg-light text-center mb-4">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-3">
          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <p class="text-xl h1 mb-0">
              23
            </p>
            <div class="ms-2">
              <span class="h5 mb-0">November</span>
              <p class="text-small mb-0">
                Saturday
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <span class="h4 text-primary mb-1">Ladies' Ministry Day Out</span>
          <p class="text-serif mb-0">
            9:00am
          </p>
          <p class="text-serif mb-0">
            Meet at Shoney's in Lewisburg
          </p>
        </div>
        <div class="col-lg-3 text-lg-end">
          <a class="btn btn-outline-primary px-4" href="./ladies-ministry">Find out more</a>
        </div>
      </div>
    </div>
    <div class="p-4 p-lg-5 bg-light text-center mb-4">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-3">
          <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <p class="text-xl h1 mb-0">
              15
            </p>
            <div class="ms-2">
              <span class="h5 mb-0">December</span>
              <p class="text-small mb-0">
                Sunday
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <span class="h4 text-primary mb-1">Christmas Dinner</span>
          <p class="text-serif mb-0">
            after morning worship service
          </p>
          <p class="text-serif mb-0">
            Church basement
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
