<div class="container">
    <h3 class="fw-light text-center text-lg-start mt-4 mb-0">Christmas Play - December 2023</h3>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/christmas-play/announcement.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/christmas-play/announcement.jpg" alt="announcement"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/christmas-play/christmas-tree.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/christmas-play/christmas-tree.jpg" alt="christmas-tree"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/christmas-play/play-img1.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/christmas-play/play-img1.jpg" alt="play-img1"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/christmas-play/play-img9.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/christmas-play/play-img9.jpg" alt="play-img9"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/christmas-play/play-img10.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/christmas-play/play-img10.jpg" alt="play-img10"></a>
        </div>
    </div>
</div>
