<div class="container">
    <h3 class="fw-light text-center text-lg-start mt-4 mb-0">Pastor Appreciation Day - October 2023</h3>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/pastor-appreciation-day/pad_img1.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/pastor-appreciation-day/pad_img1.jpg" alt="pad_img1"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="img/events/2023/pastor-appreciation-day/pad_img3.jpg" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" src="img/events/2023/pastor-appreciation-day/pad_img3.jpg" alt="pad_img3"></a>
        </div>
    </div>
</div>
