<div class="row">
  <div class="col-lg-7 mx-auto">
    <p>
      Fort Spring Missionary Baptist Church is located in Greenbrier County, West Virginia.
    </p>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a class="reset-anchor" href="https://www.google.com/maps/place/Fort+Spring+Missionary+Baptist+Church/@37.7445658,-80.5423268,1092m/data=!3m1!1e3!4m6!3m5!1s0x884c370017426c11:0xcb62258d702cf516!8m2!3d37.7425965!4d-80.5412431!16s%2Fg%2F11vpc_0xs_?entry=ttu" target="_blank" rel="nofollow">
          <i class="text-primary me-3 fas fa-map" aria-hidden="true"></i>
          <span>1336 Fort Spring Pike, Ronceverte, WV 24970</span><br>
          <span>
            open full-sized map
            <i class="me-3 fas fa-external-link-alt" aria-hidden="true"></i></span></a></li>
    </ul>
    <p class="mb-0">
      <a class="btn btn-primary pfrom x-4" href="./history">
        Read about our church's history</a>
    </p>
  </div>
</div>
