<div class="row">
  <div class="col-lg-12 mb-4">
    <h3>
      Ladies' Ministry
    </h3>
    <p>
      Looking for a place to relax, laugh and connect with other ladies? Our Ladies Ministry strives to provide opportunities that enable ladies not only to find the fellowship they need, but also to enjoy a haven from hectic schedules and to draw closer to God and Sisters in Christ.
    </p>
    <p>
      <a class="btn btn-primary pfrom x-4" href="./ladies-ministry">
        Learn More</a>
    </p>
  </div>
</div>
