<div class="swiper-slide hero-slide bg-center bg-cover py-5 with-border-image d-flex align-items-center flex-column" style="background: url(img/people/youth.jpg)">
  <div class="text-white py-5 my-5 index-forward">
    <h1 class="text-uppercase text-xl mt-5">Welcome</h1>
    <div class="col-lg-7 mx-auto">
      <p class="lead">
        Join us Wednesday evenings for
        <a href="./awana" class="text-decoration-underline text-white">Awana</a>
        - a fun-filled Bible-based youth program for ages 2 to 18.
      </p>
    </div>
  </div>
  <div class="col-lg-7 mx-auto">
    <p class="motto text-center text-serif text-white">
      where the word of God is preached and the love of Christ is practiced
    </p>
  </div>
</div>
