<div class="swiper-slide hero-slide bg-center bg-cover py-5 with-border-image d-flex align-items-center flex-column" style="background: url(img/services/sunday-morning-worship.jpg)">
  <div class="text-white py-5 my-5 index-forward">
    <h1 class="text-uppercase text-xl mt-5">Welcome</h1>
    <div class="col-lg-7 mx-auto">
      <p class="lead">
        Join us Sundays for worship and fellowship. We offer both morning and evening services for all ages.
      </p>
    </div>
  </div>
  <div class="col-lg-7 mx-auto">
    <p class="motto text-center text-serif text-white">
      where the word of God is preached and the love of Christ is practiced
    </p>
  </div>
</div>
