<div class="row">
  <div class="col-lg-12 mb-4">
    <h3>
      Vacation Bible School (VBS)
    </h3>
    <p>
      Every July we offer a VBS to connect with children and families in our community and share the gospel. We warmly welcome all children, not just those children who normally attend Fort Spring Missionary Baptist Church. VBS is a week filled with fun that includes games, snacks, crafts, skits, and, of course, Bible lessons.
    </p>
    {% include past-events/2024/vbs.html %}
    {% include past-events/2023/vbs.html %}
  </div>
</div>
