<div class="container">
  <h4 class="fw-light text-center text-lg-start mt-4 mb-0">Vacation Bible School - July 2026</h4>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/rainforest-falls-logo.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/rainforest-falls-logo.jpg" alt="rainforest falls theme"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/sanctuary-1.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/sanctuary-1.jpg" alt="Sanctuary, photo 1"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/sanctuary-2.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/sanctuary-2.jpg" alt="Sanctuary, photo 2"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/waterfall.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/waterfall.jpg" alt="Waterfall in sanctuary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/hut.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/hut.jpg" alt="Hut in sanctuary"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/church-front.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/church-front.jpg" alt="Sanctuary forward facing"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="img/events/2026/vbs/church-rear.jpg" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="img/events/2026/vbs/church-rear.jpg" alt="Sanctuary rear facing"></a>
    </div>
  </div>
</div>
